html {
    background-image: url('../img/bg/bg.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: "Roboto Light";
}

ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.var_nav {
    position: relative;
    width: 250px;
    height: 50px;
    margin-bottom: 5px;
}

.link_bg {
    width: 70px;
    height: 70px;
    position: absolute;
    color: #fff;
    z-index: 2;
}

.link_bg i {
    position: relative;
}

.link_title {
    position: absolute;
    width: 100%;
    z-index: 3;
    color: black;
}

.link_title:hover .icon {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*.var_nav:hover .link_bg {*/
/*    width: 100%;*/
/*    background: #0d3896;*/
/*    -webkit-transition: all 0.3s ease-in-out;*/
/*    -moz-transition: all 0.3s ease-in-out;*/
/*    -o-transition: all 0.3s ease-in-out;*/
/*    -ms-transition: all 0.3s ease-in-out;*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/



.icon img{
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    float:left;
}

li div a {
    display: block;
    position: absolute;
    float: left;

    color: black;
    text-decoration: none;
    width: 100%;
    height: 70px;
    left: 60px;
}

.var_nav:hover a{
    font-weight: bold;
    /*-webkit-transition: all .5s ease-in-out;*/
    /*-moz-transition: all .5s ease-in-out;*/
    /*-o-transition: all .5s ease-in-out;*/
    /*-ms-transition: all .5s ease-in-out;*/
    /*transition: all .5s ease-in-out;*/
}

a span {
    margin-top: 20px;
    display: block;
}

.sidebar {
  width: 250px;
  position: fixed;
  background-color: #207a66;
  height: 100%;
  overflow: auto;
  left: 0;
  top:80px;
}


.sidebar ul li {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar ul li.active {
  background-color: rgb(99, 188, 169);
  color: white;
}

.sidebar ul li:hover:not(.active) {
  background-color: #5b8d82;
  color: #ffffff;
}

.header-bar {
    background-color: #207a66;
    color: #A4DED1;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;

}

header h1 {
    padding-left: 25px;
}

.profession-text {
    display: block;
    position: relative;
    font-size: 20px;
    color: white;
}

main {
    position: absolute;
    top: 80px;
    left: 300px;
    right: 0;
    /*padding-bottom: 200px;*/
    height: 115%;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.39);
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    background: #207a66;
    color: #fff;
    width: 100%;
    height: 40px;
    z-index: 2;
}

footer p {
    font-size: 15px;
    padding-left: 20px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 60px;
}

table {
    display: table;
    position: absolute;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #207a66;
    border-bottom: 7px solid #207a66;
    top: 40px;
}

th {
    font-size: 13px;
    font-weight: normal;
    background: rgb(99, 188, 169);
    border-right: 1px solid #207a66;
    border-left: 1px solid #207a66;
    border-bottom: 3px solid #207a66;
    color: #090f69;
    padding: 8px;
}

td {
    background: rgb(99, 188, 169);
    border-right: 1px solid #207a66;
    border-left: 1px solid #207a66;
    color: black;
    padding: 8px;
}

tr:hover td{
    background: #207a66;
}

.year {
    background: #208270;
}

.statistic_salary {
    position: fixed;
    right: 5%;
    top: 13%;
    background: white;
    width: 22%;
    height: auto;
}

.lefttable {
    left: 100px;
    width: 300px;
    height: 500px;
}

.righttable {
    left: 570px;
    width: 300px;
    height: 500px;
}

.geography_main {
    height: 90%;
}

caption {
    color: white;
    font-size: 30px;
}

.skills_table {
    left: 280px;
    height: 500px;
    width: 1000px;
}

.skills_main {
    height: 90%;
}