<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header class="header-bar">
        <img src="{% static 'img/icons/logo.png'%}" alt="IT-Zone" class="logo">
    </header>
    <nav class="sidebar">
        <ul>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/home.png'%}" alt="Главная"></div>
                    <a href=".."><span>Главная</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/demand.png'%}" alt="Востребованность"></div>
                    <a href="../demand"><span>Востребованность</span></a></div>
            </li>
            <li class="var_nav active">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/geography.png'%}" alt="География"></div>
                    <a href=""><span>География</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/skills.png'%}" alt="Навыки"></div>
                    <a href="../skills"><span>Навыки</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/lastvacancies.png'%}" alt="Последние вакансии"></div>
                    <a href="../lastvacancies"><span>Последние вакансии</span></a></div>
            </li>
        </ul>
    </nav>
    <main class="geography_main">
        <table class="lefttable">
            <caption class="tabletitle">Уровень зарплат по городам</caption>
            <thread><th class="year">Город</th><th>Уровень зарплат</th></thread>
        {% for profession in salbycity %}
            <tr>
                <td class="year">{{ profession.sity }}</td>
                <td>{{ profession.salary }}</td>
            </tr>
        {% endfor %}
        </table>
        <img src="{% static 'img/statistic/transparentgraph2.png'%}" alt="Статистика" class="statistic_salary">
        <table class="righttable">
            <caption class="tabletitle">Доля вакансий по городам</caption>
            <thread><th class="year">Город</th><th>Доля вакансий</th></thread>
        {% for profession in perbycity %}
            <tr>
                <td class="year">{{ profession.sity }}</td>
                <td>{{ profession.percentage }}</td>
            </tr>
        {% endfor %}
        </table>
    </main>
    <footer>
        <p>Мельников Александр Валерьевич РИ-210944</p>
    </footer>
</body>
</html>