<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header class="header-bar">
        <img src="{% static 'img/icons/logo.png'%}" alt="IT-Zone" class="logo">
    </header>
    <nav class="sidebar">
        <ul>
            <li class="var_nav active">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/home.png'%}" alt="Главная"></div>
                    <a href=""><span>Главная</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/demand.png'%}" alt="Востребованность"></div>
                    <a href="demand"><span>Востребованность</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/geography.png'%}" alt="География"></div>
                    <a href="geography"><span>География</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/skills.png'%}" alt="Навыки"></div>
                    <a href="skills"><span>Навыки</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/lastvacancies.png'%}" alt="Последние вакансии"></div>
                    <a href="lastvacancies"><span>Последние вакансии</span></a></div>
            </li>
        </ul>
    </nav>
    <main class="main_page">
        <div>
            <h2>Кто такой backend-разработчик</h2>
            <img class = "prof_pic" src="{% static "img/prof_img/2.png" %}" alt="Backend">
            <p> Backend — это программист, который находится на невидимой для пользователя стороне ресурса. Он отвечает за обработку пользовательского ввода, хранение и передачу данных.</p>
            <p>Представьте, вы покупаете что-то в интернет-магазине. Вы сформировали корзину, ввели номер карты и нажали кнопку «Оплатить». В этот момент вы перешли на страницу платёжного шлюза. Вот тут вы сталкиваетесь с работой backend-разработчика. Он отвечает за то, чтобы сайт правильно определил вашу карту, банк и платёжную систему. От него зависит, пройдёт ли оплата вашей покупки успешно.</p>
            <div>
            <h2>В каких сферах нужен</h2>
            <p>Backend-разработчики нужны везде, где есть приложение, сайт или программа, которые взаимодействуют с пользователем. Другой вопрос, что уровень специалистов может быть очень разным. Всё зависит от потребностей компании.</p>
            <h3>Над чем может работать backend-разработчик:</h3>
            <ul>
                <li>Cайты-агрегаторы</li>
                <li>Платёжные терминалы</li>
                <li>Банковские системы</li>
                <li>Корпоративные сайты</li>
                <li>Интернет-магазины</li>
                <li>Приложения</li>
            </ul>
            <div>
            <h2>Чем backend отличается от frontend</h2>
            <img class = "prof_pic joke" src="{% static "img/prof_img/joke.jpg" %}" alt="joke">
            <table class = 'maintable'>
                <thead><th>Backend</th><th>Frontend</th></thead>
                <tr>
                    <td>Отвечает за «начинку» ресурса</td>
                    <td>Отвечает за внешнюю часть ресурса</td>
                </tr>
                <tr>
                    <td>Для работы нужно знание серверного языка программирования (PHP, Python, Java, Ruby, Go) и SQL для работы с базами данных</td>
                    <td>Для работы нужно знание JavaScript, HTML, CSS, LESS, SASS</td>
                </tr>
                <tr>
                    <td>Сложное обучение, нужны глубокие знания в узких вопросах</td>
                    <td>Обучение среднего уровня сложности, нужно базовое знание широкого набора рабочих инструментов</td>
                </tr>
                <tr>
                    <td>Высокая востребованность</td>
                    <td>Высокая востребованность</td>
                </tr>
            </table>
            <p style="margin-top: 330px">Frontend и backend работают над одной общей целью ― запустить удобный и стабильно работающий ресурс. В идеале они работают параллельно: пока фронтенд разрабатывает интерфейс, бекенд разрабатывает логику работы ресурса, а после помогает подключить серверную часть к движку.</p>
            <img src="{% static "img/prof_img/3.png" %}" alt="Backend" style="width: 60%">
        </div>
    </main>
    <footer>
        <p>Мельников Александр Валерьевич РИ-210944</p>
    </footer>
</body>
</html>