<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header class="header-bar">
        <h1>Backend-программист</h1>
    </header>
    <nav class="sidebar">
        <ul>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/home.png'%}" alt="Главная"></div>
                    <a href=".."><span>Главная</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/demand.png'%}" alt="Востребованность"></div>
                    <a href="../demand"><span>Востребованность</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/geography.png'%}" alt="География"></div>
                    <a href="../geography"><span>География</span></a></div>
            </li>
            <li class="var_nav active">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/skills.png'%}" alt="Навыки"></div>
                    <a href=""><span>Навыки</span></a></div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class="icon"><img src="{% static 'img/icons/lastvacancies.png'%}" alt="Последние вакансии"></div>
                    <a href="../lastvacancies"><span>Последние вакансии</span></a></div>
            </li>
        </ul>
    </nav>
    <main class="skills_main">
        <table class="year2015 skills_table">
            <caption class="tabletitle">Топ-10 навыков 2015 года</caption>
            <thread><th class="year">Навык</th><th>Количество</th></thread>
        {% for i in skills2015 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2015" src="{% static "img/graphs/graph2015.png" %}" alt="график навыков" >
        <table class="year2016 skills_table">
        <caption>Топ-10 навыков 2016 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2016 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2016" src="{% static "img/graphs/graph2016.png" %}" alt="график навыков" >
        <table class="year2017 skills_table">
        <caption>Топ-10 навыков 2017 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2017 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2017" src="{% static "img/graphs/graph2017.png" %}" alt="график навыков" >
        <table class="year2018 skills_table">
        <caption>Топ-10 навыков 2018 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2018 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2018" src="{% static "img/graphs/graph2018.png" %}" alt="график навыков" >
        <table class="year2019 skills_table">
        <caption>Топ-10 навыков 2019 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2019 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2019" src="{% static "img/graphs/graph2019.png" %}" alt="график навыков" >
        <table class="year2020 skills_table">
        <caption>Топ-10 навыков 2020 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2020 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2020" src="{% static "img/graphs/graph2020.png" %}" alt="график навыков" >
        <table class="year2021 skills_table">
        <caption>Топ-10 навыков 2021 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2021 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2021" src="{% static "img/graphs/graph2021.png" %}" alt="график навыков" >
        <table class="year2022 skills_table">
        <caption>Топ-10 навыков 2022 года</caption>
        <thead><th class="year">Навык</th><th>Количество</th></thead>
        {% for i in skills2022 %}
            <tr>
                <td class="year">{{ i.skill }}</td>
                <td>{{ i.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic year2022" src="{% static "img/graphs/graph2022.png" %}" alt="график навыков" >
    </main>
    <footer>
        <p>Мельников Александр Валерьевич РИ-210944</p>
    </footer>
</body>
</html>